---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

const products: CollectionEntry<'products'>[] = await getCollection('products');
---
<div class="container mx-auto flex flex-row">
    <!-- Barra de filtros-->
    <div class="w-1/4 h-full">
        <div class="flex justify-between items-center bg-gray-100 p-4 mt-10">
            Barra de filtros
        </div>
        <!-- Aquí puedes agregar los filtros -->
    </div>

    <!-- Grid Productos-->
    <div class="w-3/4 h-full">
        <section class="mx-auto px-4 max-w-screen-xl mt-10">
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 md:gap-6 lg:gap-6">
                {
                    products.map(product => {
                        const { slug, data } = product;
                        const { title, img, price } = data;

                        return (
                            <article class="bg-white border p-4 rounded-2xl shadow-md transition-transform duration-300 ease-in-out hover:scale-105 hover:shadow-2xl text-center">
                                <h3 class="text-lg font-semibold">{title}</h3>
                                <img class="mx-auto mb-2" src={`${img}`} alt={title} />
                                <p class="text-gray-950 text-2xl">S/ {price}</p>
                                <button 
                                    class="mt-2 px-4 py-2 bg-black text-white rounded-lg shadow-md hover:scale-105 cursor-pointer add-to-cart"
                                    data-slug={slug}
                                    data-title={title}
                                    data-img={img}
                                    data-price={price}
                                >
                                    Añadir al carrito
                                </button>
                            </article>
                        )
                    })
                }
            </div>
        </section>
    </div>
</div>